.report-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--highlight-color);
  max-width: 1200px;
  margin: 0 auto;
}

.report-text {
  flex: 1;
  padding-right: 20px;
  max-width: 50%;
}

.report-text h1 {
  font-size: 36px;
  font-family: var(--font-family-secondary);
  color: var(--highlight-color);
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
}
.report-text h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 50px;
  height: 5px;
  background-color: var(--primary-color);
  animation: slideIn 1s ease;
}
@keyframes slideIn {
  0% {
      width: 0;
  }
  100% {
      width: 50px;
  }
}

.report-text p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
  animation: fadeInUp 1s ease;
  text-align: justify;
}

.report-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-image img {
  max-width: 50%;
  height: auto;
  margin-left: 35%;
  border-radius: 15px;
  animation: zoomIn 1s ease;
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes zoomIn {
  0% {
      transform: scale(0.8);
  }
  100% {
      transform: scale(1);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .report-container {
      flex-direction: column;
      text-align: center;
  }

  .report-text {
      padding-right: 0;
      max-width: 100%;
  }

  .report-image img {
      max-width: 100%;
      max-height: 250px; 
  }
}
