<div class="login-container user-container">
  <h2 class="form-header">Login</h2>
  <form (submit)="loginUser()" class="login-form">
    <div class="form-group">
      <input type="email" placeholder="Email" [(ngModel)]="user.email" name="email" required />
    </div>
    <div class="form-group">
      <input type="password" placeholder="Password" [(ngModel)]="user.password" name="password" required />
    </div>
    <button type="submit" class="submit-button">Login</button>
  </form>
  <p class="message">{{ message }}</p>
  <p class="register-prompt">
    Don't have an account? 
    <a routerLink="/register">Register here</a>
  </p>
</div>
