/* Form Container */
.challan-form {
  max-width: 900px;
  margin: 0 auto;
  padding: 25px;
  color: #e4c2ff;
  border-radius: 12px;
}
/* Form Heading */
.form-heading {
  text-align: center;
  font-size: 1.8em;
  color: #e4c2ff;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Form Group Styling */
.form-group {
  margin-bottom: 20px;
}

.error-message {
  text-align: center;
  margin-top: 10px;
  color: red;
}

.form-group label {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #e4c2ff;
}

.form-group label i {
  margin: 8px;
  color: #d796e5;
}

.form-group input,
.form-group select {
  width: 90%; /* Align inputs to full width of their container */
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d5b1ff;
  background-color: #4b006d;
  color: #e4c2ff;
  transition: all 0.3s ease-in-out;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #8000c4;
  background-color: #52008c;
}

/* Side-by-side for inline groups */
.inline-group {
  display: flex;
  gap: 20px;
}

.inline-group .form-group {
  width: 50%; /* Sets width to allow for even side-by-side alignment */
  align-items: center;
}
.amount-input {
  display: flex;
  align-items: center;
}

.amount-input i {
  color: #a83af2; /* Change this color as needed */
}
/* Button Styling */
.payment-options {
  text-align: center;
  margin-top: 20px;
}

.payment-options .pay-btn {
  padding: 12px 20px;
  background-color: #8000c4;
  border: none;
  border-radius: 8px;
  color: #e4c2ff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}

.payment-options .pay-btn:hover {
  background-color: #620099;
}

.payment-options .pay-btn:active {
  background-color: #52008c;
}

/* Responsive Design */
@media (max-width: 768px) {
  .inline-group {
    flex-direction: column;
  }

  .inline-group .form-group {
    width: 100%;
  }

  .challan-form {
    max-width: 90%;
    padding: 20px;
  }
}
