<div class="container">
  <!-- Header Section -->
  <div class="header">
    <h1><i class="fa-solid fa-map-location"></i> Spot Wise Monthly Income <i class="fa-sharp-duotone fa-solid fa-indian-rupee-sign"></i> Analysis <i class="fa-solid fa-magnifying-glass-chart"></i></h1>
  </div>

  <!-- Year Selection -->
  <div class="year-selection">
    <label for="year">
      <i class="fas fa-calendar-alt"></i> Select Year:
    </label>
    <select id="year" [(ngModel)]="year" (change)="onYearChange(year)">
      <option *ngFor="let availableYear of availableYears" [value]="availableYear">{{ availableYear }}</option>
    </select>
  </div>

  <!-- Card Grid -->
  <div class="grid">
    <div
      *ngFor="let spot of spots"
      (click)="viewIncomeGraph(spot)"
      class="card"
    >
      <div class="card-body">
        <i class="fas fa-map-marker-alt card-icon"></i>
        <i class="fa-solid fa-car-building"></i> <h5>{{ spot.parkingSpotName }} </h5>
        <p>Click to see the monthly income graph for {{ spot.parkingSpotName }}.</p>
      </div>
    </div>
  </div>

  <!-- Empty State -->
  <div *ngIf="spots.length === 0" class="empty-state">
    <p>
      Loading data... <i class="fas fa-spinner fa-spin"></i>
    </p>
  </div>
</div>
