<div class="container">
  <!-- Header Section -->
  <div class="header">
    <h2>
      <i class="fa-solid fa-location-crosshairs"></i> Spot Wise  Monthly Income  Analysis
    </h2>
  </div>

  <!-- Year Selection -->
  <div class="year-selection">
    <label for="year">
      <i class="fas fa-calendar-alt"></i> Select Year:
    </label>
    <input
      type="number"
      id="year"
      [(ngModel)]="year"
      (change)="onYearChange(year)"
    />
  </div>

  <!-- Card Grid -->
  <div class="grid">
    <div
      *ngFor="let spot of spots"
      (click)="viewIncomeGraph(spot)"
      class="card"
    >
      <div class="card-body">
        <i class="fas fa-map-marker-alt card-icon"></i>
        <i class="fa-solid fa-car-building"></i> <h5>{{ spot.parkingSpotName }}</h5>
        <p>Click to see the monthly income graph for {{ spot.parkingSpotName }}.</p>
      </div>
    </div>
  </div>

  <!-- Empty State -->
  <div *ngIf="spots.length === 0" class="empty-state">
    <p>
      Loading data... <i class="fas fa-spinner fa-spin"></i>
    </p>
  </div>
</div>
