
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@500;600&display=swap');

:root {
  --primary-color: #7A1CAC;
  --secondary-color: #EBD3F8;
  --background-color: #2E073F;
  --highlight-color: #EBD3F8;
  --font-family-primary: 'Montserrat', sans-serif;
  --font-family-secondary: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-family-primary);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  color: var(--highlight-color);
}

.user-container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.form-header {
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--font-family-secondary);
  color: var(--primary-color);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--primary-color);
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: var(--font-family-primary);
}

.error-message {
  color: red;
  font-size: 14px;
}

.form-footer {
  text-align: center;
}

.switch-link {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
}

.switch-link:hover {
  text-decoration: none;
  color: var(--highlight-color);
}

.submit-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--highlight-color);
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.submit-button:hover {
  background-color: #5e137f;
  transform: translateY(-3px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

.add-vehicle-button {
  padding: 8px;
  border: none;
  background-color: var(--primary-color);
  color: var(--highlight-color);
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-vehicle-button:hover {
  background-color: #5e137f;
}

@media (max-width: 600px) {
  .user-container {
    width: 95%;
    margin: 20px auto;
    padding: 15px;
  }

  .submit-button {
    width: 100%;
  }
}