.chart-container {
  width: 100%;
  max-width: 80em;
  margin: 20px auto;
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.loading-message {
  text-align: center;
  font-size: 1.5em;
  color: var(--highlight-color);
  margin: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  gap: 20px;
}

.card {
  background-color: var(--secondary-color);
  border-radius: 8px;
  padding: 20px;
  flex: 1;
  min-width: 250px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.card h3 {
  font-family: var(--font-family-secondary);
  color: var(--primary-color);
  margin: 0 0 10px;
}

.card p {
  font-size: 24px;
  font-weight: bold;
  color: var(--background-color);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4), 0 0 20px rgba(122, 28, 172, 0.8);
}

.year-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.year-selection label {
  font-size: 1.5rem;
  color: rgb(225, 174, 225);
  margin-bottom: 10px;
}

.year-dropdown {
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid var(--highlight-color);
  border-radius: 5px;
  background-color: var(--background-color);
  color: rgb(198, 153, 225);
  transition: border-color 0.3s ease, background-color 0.3s ease;
  width: 200px;
}

.year-dropdown option {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.year-dropdown:hover,
.year-dropdown:focus {
  border-color: var(--primary-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.line-chart-container {
  width: 90%;
  max-width: 100%;
  margin: 20px auto;
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .year-selection {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }

  .card {
    flex: 1 1 100%;
    margin: 10px;
  }

  .card h3 {
    font-size: 1.5rem;
  }

  .card p {
    font-size: 1.2rem;
  }

  .chart-container {
    height: 250px;
    width: 90%;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 15px;
    margin: 10px;
  }

  .line-chart-container {
    padding: 10px;
    width: 90%;
  }

  .card h3 {
    font-size: 1.5rem;
  }

  .card p {
    font-size: 1.2rem;
  }
}
